{% extends "layout.html" %}
{% from "macro.html" import render_field %}

{% block content %}

<div class="container" style="width:100%;">
    <h2 class="text-primary-pcep my-5">Subida de Archivo</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_field(form.archivo, class="form-control")}}<br>
        <div class="row" style="justify-content: center">
            {{ form.submit(class="btn btn-primary") }} <br>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}